:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background-color: #BDF2F2;
  color: #404040;
}

/** Typography **/

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  color: #26BF94;
  margin-bottom: 15px;
}

button.btn-minus, 
button.btn-plus {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F2A30F;
  cursor: pointer;
  border: 0;
  color: #404040;
  border: 5px solid transparent;
}
.btn-minus:hover, .btn-plus:hover {
  border: 5px solid #F28705;
}



/* Positioning Containers */

.count-container {
  font-size: 3em;
  background-color: #ededed;
  border-radius: 50px;
  border: 5px solid #26BF94;
  padding: 10px;
}

.count-display {
  font-size: 3em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.current-increment-value-display {
  width: 75px;
  height: 75px;
  font-size: 2.5em;
  line-height: 1.8em;
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
  border-radius: 50px;
  border: 3px solid #F28705;
  background-color: #f5d2a6;
}

.increment-select-container {
  display: flex;
  justify-content: space-between;
}

.btn-increment-value {
  font-size: 2.5em;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: #404040;
}

.increment-text {
  margin-top: 30px;
  font-size: 2em;
  margin-bottom: 20px;
  color:#26BF94;
  font-weight: bold;
}